<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/styles.css" />
    <!-- <script src="../static/index.js" defer></script> -->
    <title>PokeAPI</title>
  </head>
  <body class="container mt-4">
    <div class="row">
      <div class="jumbotron col-md-6" style="color: white;">
        <h1>Welcome to PokéSearch!</h1>
        <p class="lead">Explore the world of Pokémon like never before. Discover detailed information about each Pokémon, including their abilities, stats, and evolution paths. Start your Pokémon adventure today! Ready to find your favorite Pokémon? </p>
        <a href="../templates/search.html" class="btn my-2 my-sm-0">Search Now</a>
      </div>

      <div class="col-md-6 text-center">
        <img
          src="../static/images/pokemon_img-removebg-preview.png"
          class="rounded"
          alt="Pokemon Logo"
        />
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
